@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

 
/* Formatação da página: cor de fundo e das letras e tamanho das letras */

body {
		font-family: arial, sans-serif;
		background-color: #dddddd;
		color: black;
	}

/* Formatação do paragrafo: texto e tamanho do paragrafo */
	
		p {
			text-align: justify;
			text-indent: 50px;
		}
		
/* Formatação do Menu: menu flutuante = tirar o simbolo da frente do menu, letras maiúsculas, menu flutuar pela tela, posionamento do menu */

nav#menu ul {
		list-style: none;
		text-transform: uppercase;
		position: absolute;
		top: -5px;
		left: 880px;
	}

/* Formatação do Menu: menu flutuante = itens ficar um do lado do outro, cor de fundo, espaço entre os itens trasição no menu */

nav#menu li {
		display: inline-block;
		background-color: #dddddd;
		padding: 10px; 
		margin: 2px;
		transition: background-color 1s;	

	}	

/* Formatação do Menu: menu flutuante = exibir em bloco */

nav#menu {
		display: block;

	}	

/* Formatação do Menu: menu flutuante = esconder o menu principal */

nav#menu h1 {
		display: none;
	
	}	

/* Formatação do Menu: menu flutuante = efeito passando o mouse por cima do menu */

nav#menu li:hover {
		background-color: #606060;
		
	}

/* Formatação do Menu: menu flutuante = mudando de cor quando as letras quando passar o mouse, colocando sublinhado quando passar o mouse nas letras, colocando a mãozinha no cursor  */

nav#menu a:hover {
		color: #ffffff;
		text-decoration: underline;
		cursor: pointer;
		
}
	
/* Formatação da interface: largura, cor do fundo, margem, sombra, texto com espaçamento das bordas */

div#interface {
		width: 950px;
		background-color: #ffffff;
		margin: 10px auto 10px auto;
		box-shadow: 0px 0px 10px black;
		padding: 10px;
		
	}	

/* Formatação do cabeçalho: imagem logo = posição, altura, posição a direita */

header#cabecalho img#logo {
		position: absolute;
		left: 600px;
		top: 50px;
	
	}

/* Formatação do cabeçalho: divisão do cabeçalho = linha da borda, altura da linha, imagem logo do tema,  */

header#cabecalho {
		border-bottom: 1px #606060 solid;
		height: 170px;
		background: url("") no-repeat 0px 100px;
		
}	
	
/* Formatação do cabeçalho: Organizar as letras do tema = fonte, tamanho da fonte, cor da fonte, soblinhado, margens,  */

header#cabecalho h1 {
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 30pt;
		color: #606060;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
		padding: 0px;
		margin-bottom: 0px;
		
}	

/* Formatação do cabeçalho: Organizar as letras do tema = fonte, cor da fonte, tamanho da fonte, margens,   */

header#cabecalho h2 {
		font-family: 'Libre Baskerville', serif;
		color: #888888;
		font-size: 20pt;
		padding: 0px;
		margin-top: 0px;
		
}

/* Formatação dos nomes dos artigos: tamanho da fonte, cor, cor do fundo, altura da cor do fundo, margens, */

article#noticia-principal h1 {
		font-size: 13pt;
		color: #606060;
		background-color: #dddddd;
		padding: 5px 0px 5px 10px;
		margin: 10px 0px 10px 0px;		
	
}


	
	
	